<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Storage permissions for image selection -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".FirebaseUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtFlow">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Select" android:exported="false" />


        <activity android:name=".ArtistLogin" android:exported="false" />


        <activity android:name=".CustomerLogin" android:exported="false" />


        <activity android:name=".ArtistSignup" android:exported="false" />


        <activity android:name=".CustomerSignup" android:exported="false" />


        <activity android:name=".ArtistDashboard" android:exported="false" />


        <activity android:name=".MyArtworksActivity" android:exported="false" />


        <activity android:name=".AddArtworkActivity" android:exported="false" />


        <activity android:name=".ArtistCompletedOrdersActivity" android:exported="false" />

        <activity android:name=".CustomerDashboard" android:exported="false" />
        
        <activity android:name=".CustomerMyOrdersActivity" android:exported="false" />
        
        <activity android:name=".ProfileActivity" android:exported="false" />
        
        <activity android:name=".ChangePasswordActivity" android:exported="false" />

    </application>

</manifest>